{% extends "interfaces/administ/formTemplate.html" %}
{% load crispy_forms_tags %}

{% block title %}Paramètres de base - Modifier client{% endblock title %} 

{% block idTitle %}modifierClientID{% endblock idTitle %}
{% block formTitle %}Modification de client{% endblock formTitle %} 
{% block body %}
<div class="row">
    <div class="col-md-4 mb-0">
        {{ modifierClient.codcli|as_crispy_field }}
    </div>
    <div class="col-md-8 mb-0">
        {{ modifierClient.raisonsoc|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-0">
        {{ modifierClient.pays|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
        {{ modifierClient.ville|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
        {{ modifierClient.adrgeo|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-0">
        {{ modifierClient.email|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
        {{ modifierClient.telresp1|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
        {{ modifierClient.telresp2|as_crispy_field }}
    </div>
</div>
{% endblock body %} 
{% block retour %}{% url 'clients' %}{% endblock retour %}