{% extends "interfaces/administ/modalTemplate.html" %}
{% load crispy_forms_tags %}

{% block modalTitle %}Modification d'un client{% endblock modalTitle %}
{% block modalBody %}
<div class="row">
  <div class="col-md-4 mb-0">
    {{ modifierClient.codcli|as_crispy_field }}
  </div>
  <div class="col-md-8 mb-0">
    {{ modifierClient.raisonsoc|as_crispy_field }}
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-0">
    {{ modifierClient.pays|as_crispy_field }}
  </div>
  <div class="col-md-6 mb-0">
    {{ modifierClient.ville|as_crispy_field }}
  </div>
</div>
    {{ modifierClient.adrgeo|as_crispy_field }}
    {{ modifierClient.email|as_crispy_field }}
<div class="row">
  <div class="col-md-6 mb-0">
    {{ modifierClient.telresp1|as_crispy_field }}
  </div>
  <div class="col-md-6 mb-0">
    {{ modifierClient.telresp2|as_crispy_field }}
  </div>
</div>
{% endblock modalBody %}
{% block modalButton %}<button type="submit" class="btn btn-primary">Modifier</button>{% endblock modalButton %}
