{% extends "interfaces/administ/modalTemplate.html" %}
{% load crispy_forms_tags %}

{% block modalTitle %}Modification d'un fournisseur{% endblock modalTitle %}
{% block modalBody %}
<div class="row">
  <div class="col-md-4 mb-0">
    {{ modifierFournisseur.codfourn|as_crispy_field }}
  </div>
  <div class="col-md-8 mb-0">
    {{ modifierFournisseur.raisonsoc|as_crispy_field }}
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-0">
    {{ modifierFournisseur.pays|as_crispy_field }}
  </div>
  <div class="col-md-6 mb-0">
    {{ modifierFournisseur.ville|as_crispy_field }}
  </div>
</div>
    {{ modifierFournisseur.adrgeo|as_crispy_field }}
    {{ modifierFournisseur.email|as_crispy_field }}
  <div class="row">
  <div class="col-md-6 mb-0">
    {{ modifierFournisseur.telresp1|as_crispy_field }}
  </div>
  <div class="col-md-6 mb-0">
    {{ modifierFournisseur.telresp2|as_crispy_field }}
  </div>
</div>
{% endblock modalBody %}
{% block modalButton %}<button type="submit" class="btn btn-primary">Modifier</button>{% endblock modalButton %}