{% extends "interfaces/administ/modalTemplate.html" %}
{% load crispy_forms_tags %}

{% block modalTitle %}Modification d'une station service{% endblock modalTitle %}
{% block modalBody %}
<div class="row">
  <div class="col-md-4 mb-0">
    {{ modifierStation.codstation|as_crispy_field }}
  </div>
  <div class="col-md-8 mb-0">
    {{ modifierStation.iduser|as_crispy_field }}
  </div>
  
</div>
<div class="row">
    <div class="col-md-6 mb-0">
      {{ modifierStation.pays|as_crispy_field }}
    </div>
    <div class="col-md-6 mb-0">
      {{ modifierStation.ville|as_crispy_field }}
    </div>
</div>
  {{ modifierStation.adrgeo|as_crispy_field }}
<div class="row">
    <div class="col-md-6 mb-0">
      {{ modifierStation.telresp1|as_crispy_field }}
    </div>
    <div class="col-md-6 mb-0">
      {{ modifierStation.telresp2|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-0">
      {{ modifierStation.nbdecuve|as_crispy_field }}
    </div>
    <div class="col-md-6 mb-0">
      {{ modifierStation.nbdepompe|as_crispy_field }}
    </div>
    {{ modifierStation.capcuve|as_crispy_field }}
</div>
<div class="row">
    <div class="col-md-6 mb-0">
      {{ modifierStation.jourcpta|as_crispy_field }}
    </div>
    <div class="col-md-6 mb-0">
      {{ modifierStation.exocpta|as_crispy_field }}
    </div>
</div>
{% endblock modalBody %}
{% block modalButton %}<button type="submit" class="btn btn-primary">Créer</button>{% endblock modalButton %}