{% extends "interfaces/administ/modalTemplate.html" %}
{% load crispy_forms_tags %}

{% block modalTitle %}Modification d'un utilisateur{% endblock modalTitle %}
{% block modalBody %}
<div class="row">
  <div class="col-md-6 mb-0">
    {{ modifierUser.nom|as_crispy_field }}
  </div>
  <div class="col-md-6 mb-0">
    {{ modifierUser.prenom|as_crispy_field }}
  </div>
</div>
<div class="row">
    {{ modifierUser.email|as_crispy_field }}
</div>
<div class="row">
    <div class="col-md-6 mb-0">
      {{ modifierUser.dob|as_crispy_field }}
    </div>
    <div class="col-md-6 mb-0">
      {{ modifierUser.profiluser|as_crispy_field }}
    </div>
</div>
{% endblock modalBody %}
{% block modalButton %}<button type="submit" class="btn btn-primary">Modifier</button>{% endblock modalButton %}
