{% extends "interfaces/administ/formTemplate.html" %}
{% load crispy_forms_tags %}

{% block title %}Modification{% endblock title %}

{% block idTitle %}editUserID{% endblock idTitle %}
{% block formTitle %}Modification{% endblock formTitle %} 
{% block body %}
<div class="row">
  <div class="col-md-6 mb-0">
    {{ modifierUser.nom|as_crispy_field }}
  </div>
  <div class="col-md-6 mb-0">
    {{ modifierUser.prenom|as_crispy_field }}
  </div>
</div>
<div class="row">
    {{ modifierUser.email|as_crispy_field }}
</div>
<div class="row">
    <div class="col-md-6 mb-0">
      {{ modifierUser.dob|as_crispy_field }}
    </div>
    <div class="col-md-6 mb-0">
      {{ modifierUser.profiluser|as_crispy_field }}
    </div>
</div>
{% endblock body %} 
{% block retour %}{% url 'users' %}{% endblock retour %}