{% extends "interfaces/administ/infoTemplate.html" %}
{% load crispy_forms_tags %}

{% block title %}Modification{% endblock title %}
{% block idTitle %}editTarifID{% endblock idTitle %}
{% block formTitle %}Information de tarif{% endblock formTitle %} 
{% block body %}
<div class="row">
    {{ infoTarif.idArticle|as_crispy_field }}
</div>
<div class="row">
    {{ infoTarif.monttarif|as_crispy_field }}
</div>
<div class="row">
  <div class="col-md-6 mb-0">
    {{ infoTarif.datedebut|as_crispy_field }}
  </div>
  <div class="col-md-6 mb-0">
    {{ infoTarif.datefin|as_crispy_field }}
  </div>
</div>
{% endblock body %} 
{% block retour %}{% url 'tarifs' %}{% endblock retour %}
