{% extends "interfaces/administ/indexTemplate.html" %}
{% block title %}Paramètres de base - Stations Services{% endblock %}

{% block pageLink %}{% url 'stationcreate'  %}{% endblock pageLink %}

{% block indexTitle %}Gestion des stations Services{% endblock indexTitle %}

{% block tableTitle %}Mes Station Services{% endblock tableTitle %}

{% block col1 %}Gérant{% endblock col1 %}
{% block col2 %}Ville{% endblock col2 %}
{% block col3 %}Adresse{% endblock col3 %}

{% block value1 %}{{val.iduser}}{% endblock value1 %}
{% block value2 %}{{val.ville}}{% endblock value2 %}
{% block value3 %}{{val.adrgeo}}{% endblock value3 %}

{% block infoLink %}{% url 'stationinfo' val.pk %}{% endblock infoLink %}
{% block editLink %}{% url 'stationedit' val.pk %}{% endblock editLink %}
{% block deleteLink %}{% url 'stationdelete' val.pk %}{% endblock deleteLink %}