{% extends "interfaces/administ/indexTemplate.html" %}
{% block title %}Paramètres de base - Tarifs{% endblock %}

{% block pageLink %}{% url 'tarifcreate'  %}{% endblock pageLink %}

{% block indexTitle %}Gestion des tarifs{% endblock indexTitle %}

{% block tableTitle %}Mes Tarifs{% endblock tableTitle %}

{% block col1 %}Article{% endblock col1 %}
{% block col2 %}Montant{% endblock col2 %}
{% block col3 %}Début de validité{% endblock col3 %}
{% block col4 %}Fin de validité{% endblock col4 %}

{% block value1 %}{{val.idarticle}}{% endblock value1 %}
{% block value2 %}{{val.monttarif}}{% endblock value2 %}
{% block value3 %}{{val.datedebut}}{% endblock value3 %}
{% block value4 %}{{val.datefin}}{% endblock value4 %}

{% block infoLink %}{% url 'tarifinfo' val.pk %}{% endblock infoLink %}
{% block editLink %}{% url 'tarifedit' val.pk %}{% endblock editLink %}
{% block deleteLink %}{% url 'tarifdelete' val.pk %}{% endblock deleteLink %}