{% load bootstrap_icons %}

<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" 
  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% bs_icon 'three-dots' %}
  </a>
  <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
    <h4 class="offcanvas-title" id="offcanvasExampleLabel">Menu Agent</h6>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <hr class="dropdown-divider">
    <b><u>Gestion des carburants</u></b>
    <a class="dropdown-item" href="{% url 'livraisonCarburant' %}">Livraisons</a>
    <a class="dropdown-item" href="{% url 'mvtPompes' %}">Mouvements des pompes</a>
    <a class="dropdown-item" href="{% url 'ctrlStockCarburant' %}">Contrôle de stock</a>
    <hr class="dropdown-divider">
    <b><u>Gestion des lubrifiants</u></b>
    <a class="dropdown-item" href="#">Livraisons</a>
    <a class="dropdown-item" href="#">Mouvements des stocks</a>
    <hr class="dropdown-divider">
    <b><u>Gestion des clients a crédit</u></b>
    <a class="dropdown-item" href="#">Mouvements clients</a>
    <hr class="dropdown-divider">
    <b><u>Gestion du gaz</u></b>
    <a class="dropdown-item" href="#">Tarif</a>
    <a class="dropdown-item" href="#">Livraisons</a>
    <a class="dropdown-item" href="#">Contrôle de stock</a>
    <hr class="dropdown-divider">
    <b><u>Gestion des opérations diverses</u></b>
    <a class="dropdown-item" href="#">Mouvements</a>
    <hr class="dropdown-divider">
    <b><u>Comptabilité</u></b>
    <a class="dropdown-item" href="#">Entrée en caisse</a>
    <a class="dropdown-item" href="#">Sortie de caisse</a>
    <a class="dropdown-item" href="#">Contrôle de caisse</a>
</div>
</div>

<div>
  <a type=button class="btn" href="{% url 'indexAdmin' %}">Index Admin</a>
  <a type=button class="btn" href="{% url 'indexGerant' %}">Index Gerant</a>
  <a type=button class="btn" href="{% url 'indexAgent' %}">Index Agent</a>
</div>

<div class="logo">
  <div class="btn-group" role="group">
      <a type=button class="btn" href="{% url 'indexAdmin' %}">Accueil</a>
  </div>
</div>