{% extends "interfaces/administ/formTemplate.html" %}
{% load crispy_forms_tags %}

{% block title %}Paramètres de base - Supprimer famille d'Article{% endblock title %} 

{% block idTitle %}deletefamilleArticleID{% endblock idTitle %}
{% block formTitle %}Suppression de famille d'Article{% endblock formTitle %} 
{% block body %}
<div>
    <form method="post">
        Supprimer {{familleArticle}}? 
    </form>
   
</div>
{% endblock body %} 
{% block retour %}{% url 'familleArticles' %}{% endblock retour %}