{% extends "interfaces/administ/infoTemplate.html" %}
{% load crispy_forms_tags %}

{% block title %}Paramètres de base - Information fournisseur{% endblock title %} 

{% block idTitle %}infoFournisseurID{% endblock idTitle %}
{% block formTitle %}Information sur fournisseur{% endblock formTitle %} 
{% block body %}
<div class="row">
    <div class="col-md-4 mb-0">
        {{ infoFournisseur.codfourn|as_crispy_field }}
    </div>
    <div class="col-md-8 mb-0">
        {{ infoFournisseur.raisonsoc|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-0">
        {{ infoFournisseur.pays|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
        {{ infoFournisseur.ville|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
        {{ infoFournisseur.adrgeo|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-0">
        {{ infoFournisseur.email|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
        {{ infoFournisseur.telresp1|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
        {{ infoFournisseur.telresp2|as_crispy_field }}
    </div>
</div>
{% endblock body %} 
{% block retour %}{% url 'fournisseurs' %}{% endblock retour %}