{% extends "interfaces/administ/modalTemplate.html" %}
{% load crispy_forms_tags %}

{% block modalTitle %}Informations{% endblock modalTitle %}
{% block modalBody %}
<fieldset disabled>
    <div class="row">
        <div class="col-md-4 mb-0">
          {{ infoFournisseur.codfourn|as_crispy_field }}
        </div>
        <div class="col-md-8 mb-0">
          {{ infoFournisseur.raisonsoc|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-0">
          {{ infoFournisseur.pays|as_crispy_field }}
        </div>
        <div class="col-md-6 mb-0">
          {{ infoFournisseur.ville|as_crispy_field }}
        </div>
      </div>
          {{ infoFournisseur.adrgeo|as_crispy_field }}
          {{ infoFournisseur.email|as_crispy_field }}
        <div class="row">
        <div class="col-md-6 mb-0">
          {{ infoFournisseur.telresp1|as_crispy_field }}
        </div>
        <div class="col-md-6 mb-0">
          {{ infoFournisseur.telresp2|as_crispy_field }}
        </div>
      </div>
</fieldset>
{% endblock modalBody %}
