{% extends "interfaces/administ/modalTemplate.html" %}
{% load crispy_forms_tags %}

{% block modalTitle %}Informations{% endblock modalTitle %}
{% block modalBody %}
<fieldset disabled>
  <div class="row">
    <div class="col-md-4 mb-0">
      {{ infoStation.codstation|as_crispy_field }}
    </div>
    <div class="col-md-8 mb-0">
      {{ infoStation.iduser|as_crispy_field }}
    </div>
    
  </div>
  <div class="row">
      <div class="col-md-6 mb-0">
        {{ infoStation.pays|as_crispy_field }}
      </div>
      <div class="col-md-6 mb-0">
        {{ infoStation.ville|as_crispy_field }}
      </div>
  </div>
    {{ infoStation.adrgeo|as_crispy_field }}
  <div class="row">
      <div class="col-md-6 mb-0">
        {{ infoStation.telresp1|as_crispy_field }}
      </div>
      <div class="col-md-6 mb-0">
        {{ infoStation.telresp2|as_crispy_field }}
      </div>
  </div>
  <div class="row">
      <div class="col-md-6 mb-0">
        {{ infoStation.nbdecuve|as_crispy_field }}
      </div>
      <div class="col-md-6 mb-0">
        {{ infoStation.nbdepompe|as_crispy_field }}
      </div>
      {{ infoStation.capcuve|as_crispy_field }}
  </div>
  <div class="row">
      <div class="col-md-6 mb-0">
        {{ infoStation.jourcpta|as_crispy_field }}
      </div>
      <div class="col-md-6 mb-0">
        {{ infoStation.exocpta|as_crispy_field }}
      </div>
  </div>
</fieldset>
{% endblock modalBody %}