{% extends "interfaces/administ/modalTemplate.html" %}
{% load crispy_forms_tags %}

{% block modalTitle %}Informations{% endblock modalTitle %}
{% block modalBody %}
<fieldset disabled>
  <div class="row">
    <div class="col-md-4 mb-0">
      {{ infoTarifClient.clients|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
      {{ infoTarifClient.idarticle|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
      {{ infoTarifClient.monttarif|as_crispy_field }}
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 mb-0">
        {{ infoTarifClient.datedebut|as_crispy_field }}
      </div>
      <div class="col-md-6 mb-0">
        {{ infoTarifClient.datefin|as_crispy_field }}
      </div>
  </div>
  </fieldset>
{% endblock modalBody %}