{% extends "interfaces/administ/modalTemplate.html" %}
{% load crispy_forms_tags %}

{% block modalTitle %}Profil d'utilisateur{% endblock modalTitle %}
{% block modalBody %}
<fieldset disabled>
  <div class="row">
     <div class="col-md-6 mb-0">
       {{ infoUser.nom|as_crispy_field }}
     </div>
     <div class="col-md-6 mb-0">
       {{ infoUser.prenom|as_crispy_field }}
     </div>
   </div>
   <div class="row">
       {{ infoUser.email|as_crispy_field }}
   </div>
   <div class="row">
       <div class="col-md-6 mb-0">
         {{ infoUser.dob|as_crispy_field }}
       </div>
       <div class="col-md-6 mb-0">
         {{ infoUser.profiluser|as_crispy_field }}
       </div>
   </div>
  </fieldset>
{% endblock modalBody %}
