<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <h4 class="offcanvas-title" id="offcanvasExampleLabel">Menu Gerant</h6>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <a class="dropdown-item" href="{% url 'livraisonCarburant' %}">Livraisons</a>
    <a class="dropdown-item" href="{% url 'mvtPompes' %}">Mouvements des pompes</a>
    <a class="dropdown-item" href="{% url 'ctrlStockCarburant' %}">Contrôle de stock</a>
    <a class="dropdown-item" href="#">Livraisons</a>
    <a class="dropdown-item" href="#">Mouvements des stocks</a>
    <a class="dropdown-item" href="#">Mouvements clients</a>
    <a class="dropdown-item" href="#">Tarif</a>
    <a class="dropdown-item" href="#">Livraisons</a>
    <a class="dropdown-item" href="#">Contrôle de stock</a>
    <hr class="dropdown-divider">
    <a class="dropdown-item" href="#">Separated link</a>
    <a class="dropdown-item" href="#">Mouvements</a>
    <a class="dropdown-item" href="#">Entrée en caisse</a>
    <a class="dropdown-item" href="#">Sortie de caisse</a>
    <a class="dropdown-item" href="#">Contrôle de caisse</a>
</div>