{% extends "interfaces/administ/formTemplate.html" %}
{% load crispy_forms_tags %}

{% block title %}Paramètres de base - Créer une nouvelle opération{% endblock title %} 

{% block idTitle %}creerNatOpID{% endblock idTitle %}
{% block formTitle %}Création d'opération{% endblock formTitle %} 
{% block body %}
<div class="row">
    {{ creerNatOp.codope|as_crispy_field }}
</div>
<div class="row">
    {{ creerNatOp.libope|as_crispy_field }}
</div>
<div class="row">
    <div class="col-md-2 mb-0">
      {{ creerNatOp.saiqte|as_crispy_field }}
    </div>
    <div class="col-md-2 mb-0">
      {{ creerNatOp.saival|as_crispy_field }}
    </div>
</div>

{% endblock body %} 
{% block retour %}{% url 'natOps' %}{% endblock retour %}