{% extends "interfaces/administ/formTemplate.html" %}
{% load crispy_forms_tags %}

{% block title %}Création Tarif Fournisseurs{% endblock title %} 

{% block idTitle %}creerTarifFournisseurID{% endblock idTitle %}
{% block formTitle %}Création Tarif Fournisseurs{% endblock formTitle %} 
{% block body %}
<div class="row">
  <div class="col-md-4 mb-0">
    {{ creerTarifFournisseur.idfourn|as_crispy_field }}
  </div>
  <div class="col-md-4 mb-0">
    {{ creerTarifFournisseur.idArticle|as_crispy_field }}
  </div>
  <div class="col-md-4 mb-0">
    {{ creerTarifFournisseur.monttarif|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-0">
    {{ creerTarifFournisseur.datedebut|as_crispy_field }}
    </div>
    <div class="col-md-6 mb-0">
    {{ creerTarifFournisseur.datefin|as_crispy_field }}
    </div>
</div>
{% endblock body %} 
{% block retour %}{% url 'tarifFournisseur' %}{% endblock retour %}