{% extends "interfaces/administ/formTemplate.html" %}
{% load crispy_forms_tags %}

{% block title %}Paramètres de base - Créer un nouveau fournisseur{% endblock title %} 

{% block idTitle %}creerFournisseurID{% endblock idTitle %}
{% block formTitle %}Création d'un fournisseur{% endblock formTitle %} 
{% block body %}
<div class="row">
    <div class="col-md-4 mb-0">
      {{ creerFournisseur.codfourn|as_crispy_field }}
    </div>
    <div class="col-md-8 mb-0">
      {{ creerFournisseur.raisonsoc|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-0">
      {{ creerFournisseur.pays|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
      {{ creerFournisseur.ville|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
      {{ creerFournisseur.adrgeo|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-0">
      {{ creerFournisseur.email|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
      {{ creerFournisseur.telresp1|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-0">
      {{ creerFournisseur.telresp2|as_crispy_field }}
    </div>
</div>
{% endblock body %} 
{% block retour %}{% url 'fournisseurs' %}{% endblock retour %}