{% extends "interfaces/administ/modalTemplate.html" %}
{% load crispy_forms_tags %}

{% block modalTitle %}Création d'un fournisseur{% endblock modalTitle %}
{% block modalBody %}
<div class="row">
  <div class="col-md-4 mb-0">
    {{ creerFournisseur.codfourn|as_crispy_field }}
  </div>
  <div class="col-md-8 mb-0">
    {{ creerFournisseur.raisonsoc|as_crispy_field }}
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-0">
    {{ creerFournisseur.pays|as_crispy_field }}
  </div>
  <div class="col-md-6 mb-0">
    {{ creerFournisseur.ville|as_crispy_field }}
  </div>
</div>
    {{ creerFournisseur.adrgeo|as_crispy_field }}
    {{ creerFournisseur.email|as_crispy_field }}
  <div class="row">
  <div class="col-md-6 mb-0">
    {{ creerFournisseur.telresp1|as_crispy_field }}
  </div>
  <div class="col-md-6 mb-0">
    {{ creerFournisseur.telresp2|as_crispy_field }}
  </div>
</div>
{% endblock modalBody %}
{% block modalButton %}<button type="submit" class="btn btn-primary">Créer</button>{% endblock modalButton %}