{% extends "interfaces/administ/modalTemplate.html" %}
{% load crispy_forms_tags %}

{% block modalTitle %}Création d'une station service{% endblock modalTitle %}
{% block modalBody %}
<div class="row">
  <div class="col-md-4 mb-0">
    {{ creerStationForm.codstation|as_crispy_field }}
  </div>
  <div class="col-md-8 mb-0">
    {{ creerStationForm.iduser|as_crispy_field }}
  </div>
  
</div>
<div class="row">
    <div class="col-md-6 mb-0">
      {{ creerStationForm.pays|as_crispy_field }}
    </div>
    <div class="col-md-6 mb-0">
      {{ creerStationForm.ville|as_crispy_field }}
    </div>
</div>
  {{ creerStationForm.adrgeo|as_crispy_field }}
<div class="row">
    <div class="col-md-6 mb-0">
      {{ creerStationForm.telresp1|as_crispy_field }}
    </div>
    <div class="col-md-6 mb-0">
      {{ creerStationForm.telresp2|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-0">
      {{ creerStationForm.nbdecuve|as_crispy_field }}
    </div>
    <div class="col-md-6 mb-0">
      {{ creerStationForm.nbdepompe|as_crispy_field }}
    </div>
    {{ creerStationForm.capcuve|as_crispy_field }}
</div>
<div class="row">
    <div class="col-md-6 mb-0">
      {{ creerStationForm.jourcpta|as_crispy_field }}
    </div>
    <div class="col-md-6 mb-0">
      {{ creerStationForm.exocpta|as_crispy_field }}
    </div>
</div>
{% endblock modalBody %}
{% block modalButton %}<button type="submit" class="btn btn-primary">Créer</button>{% endblock modalButton %}