{% extends "interfaces/administ/modalTemplate.html" %}
{% load crispy_forms_tags %}

{% block modalTitle %}Création d'un tarif{% endblock modalTitle %}
{% block modalBody %}
<div class="row">
  {{ creerTarifForm.idarticle|as_crispy_field }}
</div>
<div class="row">
  {{ creerTarifForm.monttarif|as_crispy_field }}
</div>
<div class="row">
<div class="col-md-6 mb-0">
  {{ creerTarifForm.datedebut|as_crispy_field }}
</div>
<div class="col-md-6 mb-0">
  {{ creerTarifForm.datefin|as_crispy_field }}
</div>
{% endblock modalBody %}
{% block modalButton %}<button type="submit" class="btn btn-primary">Créer</button>{% endblock modalButton %}
