<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <h4 class="offcanvas-title" id="offcanvasExampleLabel">Menu Agent</h6>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <a class="dropdown-item" href="{% url 'stationServices' %}">Stations services</a>
    <a class="dropdown-item" href="{% url 'natOps' %}">Nature d'opération</a>
    <a class="dropdown-item" href="{% url 'familleArticles' %}">Famille d'Articles</a>
    <a class="dropdown-item" href="{% url 'articles' %}">Articles</a>
    <a class="dropdown-item" href="{% url 'tarifs' %}">Tarifs</a>
    <a class="dropdown-item" href="{% url 'clients' %}">Clients</a>
    <a class="dropdown-item" href="{% url 'tarifClient' %}">Tarifs clients</a>
    <a class="dropdown-item" href="{% url 'fournisseurs' %}">Fournisseurs</a>
    <a class="dropdown-item" href="{% url 'tarifFournisseur' %}">Tarifs fournisseurs</a>
    <a class="dropdown-item" href="{% url 'users' %}">Utilisateurs</a>
    <a class="dropdown-item" href="{% url 'cuves' %}">Cuves</a>
    <a class="dropdown-item" href="{% url 'pompes' %}">Pompes cuves</a>
</div>