{% extends "interfaces/administ/formTemplate.html" %}
{% load crispy_forms_tags %}

{% block title %}Modification{% endblock title %}

{% block idTitle %}editTarifID{% endblock idTitle %}
{% block formTitle %}Modification de tarif{% endblock formTitle %} 
{% block body %}
<div class="row">
    {{ modifierTarif.idArticle|as_crispy_field }}
</div>
<div class="row">
    {{ modifierTarif.monttarif|as_crispy_field }}
</div>
<div class="row">
  <div class="col-md-6 mb-0">
    {{ modifierTarif.datedebut|as_crispy_field }}
  </div>
  <div class="col-md-6 mb-0">
    {{ modifierTarif.datefin|as_crispy_field }}
  </div>
</div>
{% endblock body %} 
{% block retour %}{% url 'tarifs' %}{% endblock retour %}